<div class="container">
    <div class="g-3 m-1" *ngFor="let student of students$ | async">
        <div class="row student-content student-wrap clearfix">
            <div class="col-md-7">
                <div class="student-detail">
                        <h5 class="name">
                            <a>
                                {{ student.firstname }}  {{ student.lastname }} 
                            </a>
                        </h5>
                </div>
                <div class="description">
                    Promotion: {{ student.promotion.title }}
                </div>
                <div class="student-info smart-form">
                    <div class="col-md-6"> 
                        <a data-test="list-student-btn-detail" class="btn btn-dark" routerLinkActive="active-link" routerLink="/users/student/{{ student.id }}">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
