<nav class="p-4 navbar navbar-dark bg-dark">
    <a class="btn btn-dark" routerLinkActive="active-link" routerLink="/calendar/calendar">Calendar</a>
    <a data-test="nav-bar-btn-create-calendar" class="btn btn-dark" routerLinkActive="active-link" routerLink="/calendar/form-calendar">Create Calendar</a>
    <a data-test="nav-bar-btn-form-user" class="btn btn-dark" routerLinkActive="active-link" routerLink="/users/form-user">Create user</a>
    <a data-test="nav-bar-btn-list-student" class="btn btn-dark" routerLinkActive="active-link" routerLink="/users/list-student">Students</a>
    <a data-test="nav-bar-btn-list-teacher" class="btn btn-dark" routerLinkActive="active-link" routerLink="/users/list-teacher">Teachers</a>
    <a data-test="nav-bar-btn-form-school-matter" class="btn btn-dark" routerLinkActive="active-link" routerLink="/school-matter/form-school-matter">Create School Matter</a>
    <a data-test="nav-bar-btn-list-school-matter" class="btn btn-dark" routerLinkActive="active-link" routerLink="/school-matter/list-school-matter">School Matters</a>
    <a data-test="nav-bar-btn-form-promotion" class="btn btn-dark" routerLinkActive="active-link" routerLink="/promotion/form-promotion">Create Promotion</a>    
    <a data-test="nav-bar-btn-list-promotion" class="btn btn-dark" routerLinkActive="active-link" routerLink="/promotion/list-promotion">Promotions</a>
</nav>