<div class="container" *ngIf="teacher$ | async as teacher">
    <div class="g-3 m-1" *ngFor="let unavailability of teacher.unavailability">
        <div class="row unavailability-content unavailability-wrap clearfix">
            <div class="col-md-6">
                <div class="unavailability-detail">
                        <h5 class="name">
                            <a>
                                {{ unavailability.date }}
                            </a>
                        </h5>
                </div>
                <div class="description">
                    {{ unavailability.ePeriod }}
                </div>
                <div class="unavailability-info smart-form">
                    <div class="col-md-6"> 
                        <a data-test="list-unavailability-btn-delete" class="btn btn-dark" (click)="onDelete(unavailability)">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
