$footer-text-color: rgb(130, 81, 30);
$footer-text-color-hover: rgba(130, 81, 30, 0.6);
$text-color: rgb(172, 168, 164);
$blue-color : rgba(13, 30, 36, 0.9);
$table-color :rgba(13, 30, 36, 0.76);
$white-color : #fff;

div.container {

    border: 4px solid $blue-color;
    padding: 10px 10px 10px;
    margin-top: 10px;
}

.title-logout {

    color: $blue-color;
    font-weight: bold;
    margin: 30px 10px;
}