<div class="container">
    <form id="contactForm" [formGroup]="schoolMatterForm">
        <div class="row g-3 m-1" id="form">
            <div class="row">

                <div class="form-group col-md-4">
                    <label for="schoolMatterName" class="form-label">School matter Name</label>
                    <input data-test="form-school-matter-input-name" type="text" class="form-control" id="schoolMatterName" placeholder="Business Intelligence" formControlName="schoolMatterName" [ngClass]="{ 'is-invalid': submitted && f.schoolMatterName.errors }">
                
                    <div *ngIf="submitted && f.schoolMatterName.errors" class="invalid-feedback">
                        <div>School matter name is required</div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="numberOfLessons" class="form-label">Number of lessons</label>
                    <input data-test="form-school-matter-input-number-of-lessons" type="text" class="form-control" id="numberOfLessons" placeholder="25" formControlName="numberOfLessons" [ngClass]="{ 'is-invalid': submitted && f.numberOfLessons.errors }">
                
                    <div *ngIf="submitted && f.numberOfLessons.errors" class="invalid-feedback">
                        <div>Number of Lessons is required</div>
                    </div>
                </div>
                
                <div class="form-group col-md-4">
                    <label for="teacher" class="form-label">Teacher</label>
                    <br/>
                    <select data-test="form-school-matter-select-teacher" class="form-select" id="teacher" formControlName="teacher" [ngClass]="{ 'is-invalid': submitted && f.teacher.errors }"> 
                        <option selected disabled value="">Choose</option>
                        <option *ngFor="let teacher of teachers$ | async " [ngValue]="teacher">
                            {{ teacher.firstname }} {{ teacher.lastname }}
                        </option>
                    </select>
    
                    <div *ngIf="submitted && f.teacher.errors" class="invalid-feedback">
                        <div>Teacher is required</div>
                    </div>
                </div>

                <div class="d-flex justify-content-center m-3 text-danger" *ngIf="errorMsg!=''">
                    {{errorMsg}}
                </div>
                <div class="d-flex justify-content-center m-3" *ngIf="successMsg!=''">
                    {{successMsg}}
                </div>

            <div class="col-12 text-center">
                <button data-test="form-school-matter-btn-validate" *ngIf="schoolMatter == undefined" class="btn btn-dark m-4" type="submit" (click)="onSubmit()">Validate</button>
                <button data-test="form-school-matter-btn-validate" *ngIf="schoolMatter != undefined" class="btn btn-dark m-4" type="submit" (click)="onUpdate()">Validate</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
            </div>
            </div>
        </div>
    </form>
</div>

