<div class="container">
    <form id="calendarForm" [formGroup]="calendarForm">
        <app-form-semester-schedule></app-form-semester-schedule>

        <div class="container">

        <div class="row g-3 m-1" id="form">
            <h4>Create lesson time slot</h4>  
        </div>
        <div class="form-group col-md-12 text-right">
            <button *ngIf="(currentSemesterSchedule$ | async) != null" class="btn btn-dark m-4" routerLinkActive="active-link" routerLink="/calendar/form-enterprise-weeks/{{ (currentSemesterSchedule$ | async)?.id }}">Enterprise Weeks</button>
            <button *ngIf="(currentSemesterSchedule$ | async) != null" class="btn btn-dark" routerLinkActive="active-link" routerLink="/calendar/form-holidays/{{ (currentSemesterSchedule$ | async)?.id }}">Holidays</button>
        </div>
        <div class="row g-3 m-1" id="form">

            <div class="row">
                <div class="form-group col-md-2 from-calendar">
                    <label for="lesson" class="form-label">Lesson</label>
                    <select data-test="form-calendar-lesson-select-lesson" class="form-select" id="lesson" formControlName="lesson" [ngClass]="{ 'is-invalid': submitted && f.lesson.errors }"> 
                        <option selected disabled value="">Choose</option>
                        <option *ngFor="let lesson of lessons$ | async "
                        [value]="lesson.name">
                            {{ lesson.name }}
                        </option>
                    </select>

                    <div *ngIf="submitted && f.lesson.errors" class="invalid-feedback">
                        <div>Lesson is required</div>
                    </div>
                </div>

                <div class="form-group col-md-2 from-calendar">
                    <label for="promotion" class="form-label">Promotion</label>
                    <select data-test="form-calendar-lesson-select-promotion" class="form-select" id="promotion" formControlName="promotion" (change)="onChangesPromotion()" [ngClass]="{ 'is-invalid': submitted && f.promotion.errors }"> 
                        <option selected disabled value="">Choose</option>
                        <option *ngFor="let promotion of promotions$ | async "
                        [ngValue]="promotion" >
                            {{ promotion.title }}
                        </option>
                    </select>

                    <div *ngIf="submitted && f.promotion.errors" class="invalid-feedback">
                        <div>Promotion is required</div>
                    </div>
                </div>

                <div class="form-group col-md-2 from-calendar">
                    <label for="semesterNumber" class="form-label">Semester number</label>
                    <select data-test="form-calendar-lesson-select-semester-number" class="form-select" id="semesterNumber" formControlName="semesterNumber" (change)="onChangesSemesterNumber()" [ngClass]="{ 'is-invalid': submitted && f.semesterNumber.errors }"> 
                        <option selected disabled value="">Choose</option>
                        <option *ngFor="let semesterSchedule of semesterSchedules$ | async "
                        [value]="semesterSchedule.title" >
                            {{ semesterSchedule.title }}
                        </option>
                    </select>

                    <div *ngIf="submitted && f.semesterNumber.errors" class="invalid-feedback">
                        <div>Semester Number</div>
                    </div>
                </div>

                <div class="form-group col-md-2 from-calendar">
                    <label for="date" class="form-label">Date</label>
                    <input data-test="form-calendar-lesson-input-date" type="date" id="date" name="date" formControlName="date" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" required>

                    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                        <div>Date is required</div>
                    </div>
                </div>

                <div class="form-group col-md-1 from-calendar">
                    <label for="period" class="form-label">Period</label>
                    <select data-test="form-calendar-lesson-select-period" class="form-select" id="period" formControlName="period" [ngClass]="{ 'is-invalid': submitted && f.period.errors }"> 
                        <option selected disabled value="">Choose</option>
                        <option *ngFor="let period of ePeriod | keyvalue "
                        [value]="period.value" >
                            {{ period.value }}
                        </option>
                    </select>

                    <div *ngIf="submitted && f.period.errors" class="invalid-feedback">
                        <div>Period is required</div>
                    </div>
                </div> 

                <div class="d-flex justify-content-center m-3 text-danger" *ngIf="errorMsg!=''">
                    {{errorMsg}}
                </div>
                <div class="d-flex justify-content-center m-3" *ngIf="successMsg!=''">
                    {{successMsg}}
                </div>

                <div class="col-12 text-center">
                    <button data-test="form-calendar-lesson-btn-validate" class="btn btn-dark m-4" type="submit" (click)="onSubmit()">Validate</button>
                    <button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
                </div>
            </div>
        </div>

        <div class="row g-3 m-1" id="form">
            <div class="form-group col-md-3">
                <button class="btn btn-dark m-3" (click)="onClickGenerationBlock()">Generation block</button>
              </div>
              <div class="form-group col-md-3">
                <button class="btn btn-dark m-3" (click)="onClickGenerationByMoment()">Generation by moment</button>
              </div>
              <div class="form-group col-md-3">
                <button class="btn btn-dark m-3" (click)="onClickGenerationFull()">Generation full</button>
              </div>
        </div>
        </div>
        <br/>
    </form>
    <app-calendar></app-calendar>
</div>
