<div class="calendar-container">
    <span class="day-name" >{{ date | date : 'MMMM y' }}</span>
    <ng-container *ngFor="let firstDayOfWeek of firstDayOfMonthWeeks">
        <app-week-calendar [dateFormat]="firstDayOfWeek.toISOString()" [promotion]="promotion" [semesterNumber]="semesterNumber"></app-week-calendar>
    </ng-container>
</div>
