<div class="container">
    <form id="enterpriseWeekForm" [formGroup]="enterpriseWeekForm" (ngSubmit)="onSubmit()">
        <div class="row g-3 m-1" id="form">
            <div class="row">

                <div class="form-group col-md-6">
                    <label for="enterpriseWeekNumber" class="form-label">Enterprise Week Number</label>
                    <input type="text" class="form-control" id="enterpriseWeekNumber" placeholder="24" formControlName="enterpriseWeekNumber" [ngClass]="{ 'is-invalid': submitted && f.enterpriseWeekNumber.errors }">
                
                    <div *ngIf="submitted && f.enterpriseWeekNumber.errors" class="invalid-feedback">
                        <div>Enterprise week number is required</div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button class="btn btn-dark m-4" type="submit" >Validate</button>
                </div>
            </div>
        </div>
    </form>
</div>



<app-list-enterprise-weeks></app-list-enterprise-weeks>