<div class="container">
    <div class="g-3 m-1" *ngFor="let promotion of promotions$ | async">
        <div class="row promotion-content promotion-wrap clearfix">
            <div class="col-md-7">
                <div class="promotion-detail">
                        <h5 class="name">
                            <a>
                                {{ promotion.title }}
                            </a>
                        </h5>
                </div>
                <br/>
                <div class="promotion-info smart-form">
                    <div class="col-md-6"> 
                        <a data-test="list-promotion-btn-detail" class="btn btn-dark" routerLinkActive="active-link" routerLink="/promotion/{{ promotion.id }}">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
