<div class="container">
    <div class="g-3 m-1" *ngFor="let schoolMatter of schoolMatters$ | async">
        <div class="row school-matter-content school-matter-wrap clearfix">
            <div class="col-md-7">
                <div class="school-matter-detail">
                        <h5 class="name">
                            <a>
                                {{ schoolMatter.name }}
                            </a>
                        </h5>
                </div>
                <br/>
                <div class="school-matter-info smart-form">
                    <div class="col-md-6"> 
                        <a data-test="list-school-matter-btn-detail" class="btn btn-dark" routerLinkActive="active-link" routerLink="/school-matter/{{ schoolMatter.id }}">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
