<ng-container *ngIf="promotion$ | async as promotion">
    <div class="container" *ngIf="!editMode">
        <div class="row promotion-content promotion-wrap clearfix" *ngIf="promotion$ | async as promotion">
            <div class="col-md-7">
                <div class="promotion-detail">
                    <h5 class="name">
                        <a>
                            {{ promotion.title }}
                        </a>
                    </h5>
                </div>                
                <div class="col-12 text-center">
                    <button data-test="promotion-detail-btn-edit" class="btn btn-dark m-4" type="edit" (click)="onEnterEditMode()" >Edit</button>
                    <button data-test="promotion-detail-btn-delete" class="btn btn-secondary" type="reset" (click)="onDelete()">Delete</button>
                </div>    
            </div>
        </div>
    </div>

    <div *ngIf="editMode">
        <app-form-promotion [promotion]="promotion" (updateEvent)="onExitEditMode($event)"></app-form-promotion>
    </div>
</ng-container>
