<ng-container *ngIf="schoolMatter$ | async as schoolMatter">
    <div class="container" *ngIf="!editMode">
        <div class="row school-matter-content school-matter-wrap clearfix">
            <div class="col-md-7">
                <div class="school-matter-detail">
                    <h5 class="name">
                        <a>
                            {{ schoolMatter.name }}
                        </a>
                    </h5>                    
                </div>
                <div class="description">
                    <p>Teacher : {{ schoolMatter.teacher.firstname }} {{schoolMatter.teacher.lastname }}</p>
                    <p>Number of lessons of the matter : {{ schoolMatter.numberOfLessons }} </p> 
                </div>
                <div class="col-12 text-center">
                    <button data-test="school-matter-detail-btn-edit" class="btn btn-dark m-4" type="edit" (click)="onEnterEditMode()" >Edit</button>
                    <button data-test="school-matter-detail-btn-delete" class="btn btn-secondary" type="reset" (click)="onDelete()">Delete</button>
                </div>    
            </div>
        </div>
    </div>

    <div *ngIf="editMode">
        <app-form-school-matter [schoolMatter]="schoolMatter" (updateEvent)="onExitEditMode($event)"></app-form-school-matter>
    </div>
</ng-container>