<footer class="container">
    <div class="background">
        <div class="color-back">
            <div class="col-md-4 d-flex align-items-center">

            <span class="copyright">&copy; 2022 Cnam</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <!-- plan du site  -->
            </ul>
        </div>
    </div>
</footer>