$blue-color : rgba(214, 214, 214, 0.9);
$grey-color: rgba(214, 214, 214, 0.8);

footer {
    margin-top: 1.5rem !important;

    //position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

footer.container {
    padding: 0px 0px 0px;
}

.color-back {
    background-color: $grey-color;  
    padding-top: 20px;
    padding-bottom: 20px;
}

.background {
    background-image: url(..\..\assets\img\background\background.png);
    background-size: auto;
    background-position: center;
    background-size: 50%;
}