<div class="calendar-container" *ngIf="lessonTimeSlots$ | async as lessonTimeSlots">
    <div class="calendar"><span class="day-name">{{ date | date : 'EEEE d MMMM y' }}</span>
        <div class="day">
            <ng-container *ngFor="let lessonTimeSlot of lessonTimeSlots">
                <!-- AM  -->
                <section class="task task--warning" *ngIf="lessonTimeSlot.period.ePeriod == ePeriod.AM">{{lessonTimeSlot.schoolMatter.name}}
                    <button class="btn btn-dark m-4" type="button" (click)="deleteLessonTimeSlot(lessonTimeSlot)">
                        <img src="..\assets\img\icon-market\minus.png" alt="add" class="delete-img">
                    </button>
                </section>
                <!-- PM  -->
                <section class="task task--danger" *ngIf="lessonTimeSlot.period.ePeriod == ePeriod.PM">{{lessonTimeSlot.schoolMatter.name}}
                    <button class="btn btn-dark m-4" type="button" (click)="deleteLessonTimeSlot(lessonTimeSlot)">
                        <img src="..\assets\img\icon-market\minus.png" alt="add" class="delete-img">
                    </button>
                </section>
            </ng-container>
        </div>
    </div>
</div>
