<div class="container">
    <form id="contactForm" [formGroup]="signUpForm">
        <div class="row g-3 m-1" id="form">
            <div class="row">

                <div class="form-group col-md-2">
                    <label for="role" class="form-label">Role</label>
                    <br/>
                    <select data-test="form-user-select-role" class="form-select" id="role" formControlName="role" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                        <option selected disabled value="">Choose</option>
                        <option *ngFor="let role of eRole | keyvalue "
                        [value]="role.value" >
                            {{ role.value }}
                        </option>
                    </select>
    
                    <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                        <div>Role is required</div>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label for="lastname" class="form-label">Lastname</label>
                    <input data-test="form-user-input-lastname" type="text" class="form-control" id="lastname" placeholder="Kent" formControlName="lastname" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
                    <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                        <div>Last Name is required</div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="firstname" class="form-label">Firstname</label>
                    <input data-test="form-user-input-firstname" type="text" class="form-control" id="firstname" placeholder="Clark" formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">

                    <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                        <div>First Name is required</div>
                    </div>
                </div>
 
                <div class="form-group col-md-8">
                    <label for="email" class="form-label">Email</label>
                    <input data-test="form-user-input-email" type="text" class="form-control" id="email" placeholder="superman@super-hero.com" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">

                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div>Email must be a valid email address</div>
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label for="phone" class="form-label">Phone</label>
                    <input data-test="form-user-input-phone" type="text" class="form-control" id="phone" placeholder="442 2394 3394" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">

                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div>Phone must be at least 10 number, and 13 with prefix +33 </div>
                    </div>
                </div>

                <div *ngIf="f.role.value == eRole.Student" class="form-group col-md-2">
                    <label for="promotion" class="form-label">Promotion</label>
                    <select data-test="form-user-select-promotion" class="form-select" id="promotion" formControlName="promotion" [ngClass]="{ 'is-invalid': submitted && f.promotion.errors }"> 
                        <option selected disabled value="">Choose</option>
                            <option *ngFor="let promotion of promotions$ | async " [ngValue]="promotion" >
                            {{ promotion.title }}
                        </option>
                        
                    </select>

                    <div *ngIf="submitted && f.promotion.errors" class="invalid-feedback">
                        <div>Promotion is required</div>
                    </div>
                </div>

                <div class="d-flex justify-content-center m-3 text-danger" *ngIf="errorMsg!=''">
                    {{errorMsg}}
                </div>
                <div class="d-flex justify-content-center m-3" *ngIf="successMsg!=''">
                    {{successMsg}}
                </div>

                <div class="col-12 text-center">
                    <button data-test="form-user-btn-validate" *ngIf="user == undefined" class="btn btn-dark m-4" type="submit"  (click)="onSubmit()">Validate</button>
                    <button data-test="form-user-btn-validate" *ngIf="user != undefined && (user.id != null || user.id != undefined)" class="btn btn-dark m-4" type="update" (click)="onUpdate()">Validate</button>
                    <button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
                </div>
            </div>
        </div>
    </form>
</div>

