<div class="container">
    <form id="semesterScheduleForm" [formGroup]="semesterScheduleForm">
        
        <div class="row g-3 m-1" id="form">
            <h4>Create semester schedule</h4>  
        </div>
        <div class="row g-3 m-1" id="form">
            <div class="form-group col-md-2 from-calendar">
                <label for="promotion" class="form-label">Promotion</label>
                <select data-test="form-calendar-select-promotion" class="form-select" id="promotion" formControlName="promotion" [ngClass]="{ 'is-invalid': submitted && f.promotion.errors }"> 
                    <option selected disabled value="">Choose</option>
                    <option *ngFor="let promotion of promotions$ | async "
                    [value]="promotion.title" >
                        {{ promotion.title }}
                    </option>
                </select>

                <div *ngIf="submitted && f.promotion.errors" class="invalid-feedback">
                    <div>Promotion is required</div>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label for="semesterNumber" class="form-label">Semester number</label>
                <input data-test="form-calendar-input-semester-number" data-test="form-calendar-input-semester-number" type="text" class="form-control" id="semesterNumber" placeholder="Business Intelligence" formControlName="semesterNumber" [ngClass]="{ 'is-invalid': submitted && f.semesterNumber.errors }">
            
                <div *ngIf="submitted && f.semesterNumber.errors" class="invalid-feedback">
                    <div>Semester number is required</div>
                </div>
            </div>

            <div class="form-group col-md-2 from-calendar">
                <label for="startDate" class="form-label">Start date</label>
                <input data-test="form-calendar-input-start-date" type="date" id="startDate" name="startDate" formControlName="startDate" [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }" required>

                <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                    <div>Date is required</div>
                </div>
            </div>

            <div class="form-group col-md-2 from-calendar">
                <label for="endDate" class="form-label">End date</label>
                <input data-test="form-calendar-input-end-date" type="date" id="endDate" name="endDate" formControlName="endDate" [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }" required>

                <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                    <div>Date is required</div>
                </div>
            </div>

            <div class="d-flex justify-content-center m-3 text-danger" *ngIf="errorMsg!=''">
                {{errorMsg}}
            </div>
            <div class="d-flex justify-content-center m-3" *ngIf="successMsg!=''">
                {{successMsg}}
            </div>

            <div class="col-12 text-center">
                <button data-test="form-calendar-btn-validate" class="btn btn-dark m-4" type="submit" (click)="onSubmitSemester()">Validate</button>
                <button class="btn btn-secondary" type="reset" (click)="onResetSemester()">Reset</button>
            </div>
        </div>
    </form>
</div>
