<ng-container *ngIf="student$ | async as student">
    <div class="container" *ngIf="!editMode">
        <div class="row student-content student-wrap clearfix">
                <div class="col-md-7">
                    <div class="student-detail">
                            <h5 class="name">
                                <a>
                                    {{ student.firstname }}  {{ student.lastname }} 
                                </a>
                            </h5>
                            <br/>
                            <p class="email-container">
                                <span>{{ student.email }}</span>
                            </p>
                            <p class="phone-container">
                                <span>{{ student.phone }}</span>
                            </p>
                    </div>
                    <div class="description">
                        Promotion: {{ student.promotion.title }}
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button data-test="student-detail-btn-edit" class="btn btn-dark m-4" type="edit" (click)="onEnterEditMode()" >Edit</button>
                    <button data-test="student-detail-btn-delete" class="btn btn-secondary" type="reset" (click)="onDelete()">Delete</button>
                </div>     
        </div>
    </div>

    <div *ngIf="editMode">
        <app-form-user [role]="eRole.Student" [user]="student" (updateEvent)="onExitEditMode($event)"></app-form-user>
    </div>
</ng-container>

