<div class="container">
    <p>Unavailabilities</p>
    <form id="unavailabilityForm" [formGroup]="unavailabilityForm" (ngSubmit)="onSubmit()">
        <div class="row g-3 m-1" id="form">
            <div class="row">

                <div class="form-group col-md-6">
                    <label for="date" class="form-label">Date</label>
                    <input data-test="form-unavailability-input-date" type="date" id="date" formControlName="date" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" name="date" required>

                    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                        <div>Date is required</div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="period" class="form-label">Period</label>
                    <select data-test="form-unavailability-select-period" class="form-select" id="period" formControlName="period" [ngClass]="{ 'is-invalid': submitted && f.period.errors }"> 
                        <option selected disabled value="">Choose</option>
                        <option *ngFor="let period of ePeriod | keyvalue "
                        [value]="period.value" >
                            {{ period.value }}
                        </option>
                    </select>

                    <div *ngIf="submitted && f.period.errors" class="invalid-feedback">
                        <div>Period is required</div>
                    </div>
                </div> 

                <div class="d-flex justify-content-center m-3 text-danger" *ngIf="errorMsg!=''">
                    {{errorMsg}}
                </div>
                <div class="d-flex justify-content-center m-3" *ngIf="successMsg!=''">
                    {{successMsg}}
                </div>

                <div class="col-12 text-center">
                    <button data-test="form-unavailability-btn-validate" class="btn btn-dark m-4" type="submit" >Validate</button>
                </div>
            </div>
        </div>
    </form>
</div>