<ng-container *ngIf="teacher$ | async as teacher">
    <div class="container" *ngIf="!editMode">
        <div class="row teacher-content teacher-wrap clearfix">
            <div class="col-md-7">
                <div class="teacher-detail">
                        <h5 class="name">
                            <a>
                                {{ teacher.firstname }}  {{ teacher.lastname }} 
                            </a>
                        </h5>
                        <br/>
                        <p class="email-container">
                            <span>{{ teacher.email }}</span>
                        </p>
                        <p class="phone-container">
                            <span>{{ teacher.phone }}</span>
                        </p>
                </div>
                <div class="col-12 text-center">
                    <button data-test="teacher-detail-btn-edit" class="btn btn-dark m-4" type="edit" (click)="onEnterEditMode()" >Edit</button>
                    <button data-test="teacher-detail-btn-delete" class="btn btn-secondary" type="reset" (click)="onDelete()">Delete</button>
                </div>  
            </div>
        </div>
    </div>

    <div *ngIf="editMode">
        <app-form-user [role]="eRole.Teacher" [user]="teacher" (updateEvent)="onExitEditMode($event)"></app-form-user>
    </div>
</ng-container>

<app-form-unavailability></app-form-unavailability>
<app-list-unavailability></app-list-unavailability>
