<div class="container">
    <form action="" method="post" id="signinForm" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <div class="login-wrap">
            <div class="login-html">
                <div id="account" class="">
                    <label for="tab-1" class="tab">Sign In</label>
                    <div class="login-form">
                        <div class="sign-in-htm">
                            <div class="group">
                                <label for="email" class="label">Username</label>
                                <input data-test="sign-in-input-email" id="email" type="text" name="email" class="input" formControlName="email">
                            </div>
                            <div class="group">
                                <label for="password" class="label">Password</label>
                                <input data-test="sign-in-input-password" id="password" type="password" name="password" class="input" data-type="password" formControlName="password">
                            </div>
                            
                            <div class="d-flex justify-content-center m-3 text-danger" *ngIf="errorMsg!=''">
                                {{errorMsg}}
                            </div>
                            <div class="d-flex justify-content-center m-3" *ngIf="successMsg!=''">
                                {{successMsg}}
                            </div>

                            <div class="group">
                                <input data-test="sign-in-btn-submit" type="submit" class="button" value="Sign In">
                            </div>

                            <div class="fs-3" *ngIf="submitted && f.email.errors && f.password.errors">
                                <p>
                                  Wrong username or password, try again
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>