$blue-color : rgba(13, 30, 36, 0.9);
$orange-color: rgb(130, 81, 30);

body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	//max-width:525px;
	min-height:360px;
	position:relative;
    border: $blue-color;
    background: linear-gradient(130deg, #1d2b30 30%, #1d2b30ad 70%);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:20px 40px 20px 40px;
}

.login-html .sign-in-htm {
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	backface-visibility:hidden;
	transition:all .4s linear;
}

.login-html .sign-in,
.login-form .group .check{
	display:none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}

.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}

.login-html .sign-in:checked + .tab {
	color:#fff;
	border-color: $orange-color;
}

.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}

.login-form .group{
	margin-bottom:15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}

.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}

.login-form .group input[data-type="password"]{
	//text-security:circle;
	-webkit-text-security:circle;
}

.login-form .group .label{
	color: white;
	font-size:12px;
}

.login-form .group .button{
	background: $orange-color;
}

.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}

.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}

.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}

.login-form .group .check:checked + label .icon{
	background: $orange-color;
}

.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}

div.container {

    border: 4px solid $blue-color;
    padding: 0px 0px 0px;
    margin-top: 10px;
}

label, p {
    color: white;
}