<div class="container">
    <form id="contactForm" [formGroup]="promotionForm">
        <div class="row g-3 m-1" id="form">
            <div class="row">

                <div class="form-group col-md-6">
                    <label for="promotionName" class="form-label">Promotion Name</label>
                    <input data-test="form-promotion-input-name" type="text" class="form-control" id="promotionName" placeholder="FIP2A" formControlName="promotionName" [ngClass]="{ 'is-invalid': submitted && f.promotionName.errors }">
                
                    <div *ngIf="submitted && f.promotionName.errors" class="invalid-feedback">
                        <div>promotion name is required</div>
                    </div>
                </div>

                <div class="d-flex justify-content-center m-3 text-danger" *ngIf="errorMsg!=''">
                    {{errorMsg}}
                </div>
                <div class="d-flex justify-content-center m-3" *ngIf="successMsg!=''">
                    {{successMsg}}
                </div>
                
                <div class="col-12 text-center">
                    <button data-test="form-promotion-btn-validate" *ngIf="promotion == undefined"class="btn btn-dark m-4" type="submit" (click)="onSubmit()">Validate</button>
                    <button data-test="form-promotion-btn-validate" *ngIf="promotion != undefined" class="btn btn-dark m-4" type="submit" (click)="onUpdate()">Validate</button>
                    <button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
                </div>
            </div>
        </div>
    </form>
</div>

