$grey-color: rgb(172, 168, 164);
$blue-color : rgba(13, 30, 36, 0.9);
$orange-color: rgb(128, 81, 30);
$grey-color: rgba(214, 214, 214, 0.8);

header h1 {
    text-align: center;
}

.color-back {
    background-color: $grey-color;  
}

header.container {
    padding: 0px 0px 0px;
}

.background {
    
    background-image: url(..\..\assets\img\background\background.png);
    background-size: auto;
    background-position: center;
    background-size: 50%;
}

header h1 {
    padding-top: 20px;
}

.log-img {

    width: 10%;
    margin-left: 10px;
} 

.log {

    justify-content: flex-end;
}
