<header class="container">
    <div class="background">
        <div class="color-back">
            <h1>Online Agenda</h1>
            <div class="log row">
                <div class="col-md-3">

                    <button data-test="header-btn-sign-in" class="btn btn-dark m-4" type="button" [routerLink]="['/auth/sign-in']">
                        <span>Sign in</span> 
                        <img src="../assets/img/icon-log/log-in.png" alt="add" class="log-img">
                    </button>
                </div>
                    <div class="col-md-3">

                    <button class="btn btn-dark m-4" type="button" [routerLink]="['/auth/sign-out']">
                        <span>Sign out</span> 
                        <img src="../assets/img/icon-log/log-out.png" alt="add" class="log-img">
                    </button>

                    <!-- <button class="btn btn-dark m-4" type="button" [routerLink]="['/login']" *ngIf="(client$ | async) == null">
                        <span>Sign in</span> 
                        <img src="../assets/img/icon-log/log-in.png" alt="add" class="log-img">
                    </button> -->

                    <!-- <button class="btn btn-dark m-4" type="button" (click)="logout()" *ngIf="(client$ | async) != null">
                        <span>Sign out</span> 
                        <img src="../assets/img/icon-log/log-out.png" alt="add" class="log-img">
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</header> 
