<div class="container">
    <div class="g-3 m-1" *ngFor="let teacher of teachers$ | async">
        <div class="row teacher-content teacher-wrap clearfix">
            <div class="col-md-7">
                <div class="teacher-detail">
                        <h5 class="name">
                            <a>
                                {{ teacher.firstname }}  {{ teacher.lastname }} 
                            </a>
                        </h5>
                </div>
                <div class="description">
                    {{ teacher.email }}
                </div>
                <div class="teacher-info smart-form">
                    <div class="col-md-6"> 
                        <a data-test="list-teacher-btn-detail" class="btn btn-dark" routerLinkActive="active-link" routerLink="/users/teacher/{{ teacher.id }}">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
