<div class="container">
    <form id="holidayForm" [formGroup]="holidayForm" (ngSubmit)="onSubmit()">
        <div class="row g-3 m-1" id="form">
            <div class="row">

                <div class="form-group col-md-6">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" id="date" name="date" required>

                    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                        <div>Date is required</div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button class="btn btn-dark m-4" type="submit" >Validate</button>
                </div>
            </div>
        </div>
    </form>
</div>



<app-list-holidays></app-list-holidays>