<div class="calendar-container">
  <form id="calendarForm" [formGroup]="calendarForm">
    <div class="calendar-header">
      <div class="row">
        <div class="form-group col-md-4">
          <button class="btn btn-dark m-4" (click)="onClickDownload()">Download</button>
        </div>
        <div class="form-group col-md-8">
          <p>Change Calendar View</p>
          <button class="btn btn-dark btn-calendar-view" type="submit" (click)="onClickMonthView()"><h1>Month</h1></button>
          <button class="btn btn-dark btn-calendar-view" type="submit" (click)="onClickWeekView()"><h1>Week</h1></button>
          <button class="btn btn-dark btn-calendar-view" type="submit" (click)="onClickDayView()"><h1>Day</h1></button>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-2">
          <label for="promotion" class="form-label">Promotion</label>
          <select class="form-select" id="promotion" formControlName="promotion" (change)="onChangesPromotion()"> 
              <option selected disabled value="">Choose</option>
              <option selected *ngFor="let promotion of promotions$ | async" [ngValue]="promotion" >
                  {{ promotion.title }}
              </option>
          </select>
        </div>

        <div class="form-group col-md-2 from-calendar">
          <label for="semesterNumber" class="form-label">Semester number</label>
          <select class="form-select" id="semesterNumber" formControlName="semesterNumber" (change)="onChangesSemesterNumber()"> 
              <option selected disabled value="">Choose</option>
              <option *ngFor="let semesterSchedule of semesterSchedules$ | async "
              [value]="semesterSchedule.title" >
                  {{ semesterSchedule.title }}
              </option>
          </select>
        </div>

        <div class="form-group col-md-1">
          <label for="date" class="form-label">Date</label>
          <input type="date" id="date" name="date" formControlName="date">
        </div>

      </div>
    </div>
  </form>
    <main *ngIf="calendarView == eCalendarView.Month" >
      <app-month-calendar [dateFormat]="f.date.value" [promotion]="f.promotion.value" [semesterNumber]="f.semesterNumber.value"></app-month-calendar>
    </main>
    <main *ngIf="calendarView == eCalendarView.Week">
      <app-week-calendar [dateFormat]="f.date.value" [promotion]="f.promotion.value" [semesterNumber]="f.semesterNumber.value"></app-week-calendar>
    </main>
    <main *ngIf="calendarView == eCalendarView.Day">
      <app-day-calendar [dateFormat]="f.date.value" [promotion]="f.promotion.value" [semesterNumber]="f.semesterNumber.value"></app-day-calendar>
    </main>
</div>


