<div class="calendar-container" *ngIf="lessonTimeSlots$ | async as lessonTimeSlots">
    <span class="day-name" >Week {{ date | date : 'w, MMM y' }}</span>
    <div class="calendar"><span class="day-name" *ngFor="let timeSlotsPerDay of timeSlotsPerDays | keyvalue: asIsOrder">{{ timeSlotsPerDay.key | date : 'EEE dd' }}</span>
        <ng-container *ngFor="let timeSlotsPerDay of timeSlotsPerDays | keyvalue: asIsOrder">
            <div class="day" *ngIf="timeSlotsPerDay.value.length > 0">
                <!-- AM  -->
                <section class="task task--warning" *ngIf="timeSlotsPerDay.value[0] && timeSlotsPerDay.value[0].period.ePeriod == ePeriod.AM">{{timeSlotsPerDay.value[0].schoolMatter.name}}
                    <button class="btn btn-dark m-4" type="button" (click)="deleteLessonTimeSlot(timeSlotsPerDay.value[0])">
                        <img src="..\assets\img\icon-market\minus.png" alt="add" class="delete-img">
                    </button>
                </section>
                <!-- PM  -->
                <section class="task task--danger" *ngIf="timeSlotsPerDay.value[0] && timeSlotsPerDay.value[0].period.ePeriod == ePeriod.PM">{{timeSlotsPerDay.value[0].schoolMatter.name}}
                    <button class="btn btn-dark m-4" type="button" (click)="deleteLessonTimeSlot(timeSlotsPerDay.value[0])">
                        <img src="..\assets\img\icon-market\minus.png" alt="add" class="delete-img">
                    </button>
                </section>
                <section class="task task--danger" *ngIf="timeSlotsPerDay.value[1] && timeSlotsPerDay.value[1].period.ePeriod == ePeriod.PM">{{timeSlotsPerDay.value[1].schoolMatter.name}}
                    <button class="btn btn-dark m-4" type="button" (click)="deleteLessonTimeSlot(timeSlotsPerDay.value[1])">
                        <img src="..\assets\img\icon-market\minus.png" alt="add" class="delete-img">
                    </button>
                </section>
            </div>
            <div class="day day--disabled" *ngIf="timeSlotsPerDay.value.length == 0">
                <!-- AM  -->
                <!-- <section class="task task--warning">Projects</section> -->
                <!-- PM  -->
                <!-- <section class="task task--danger">Design Sprint</section> -->
            </div>
        </ng-container>
    </div>
</div>
