<div class="container" *ngIf="semesterSchedule$ | async as semesterSchedule">
    <div class="g-3 m-1" *ngFor="let holiday of semesterSchedule.holidays">
        <div class="row holiday-content holiday-wrap clearfix">
            <div class="col-md-7">
                <div class="holiday-detail">
                        <h5 class="name">
                            <a>
                                {{ holiday }}
                            </a>
                        </h5>
                </div>
                <div class="holiday-info smart-form">
                    <div class="col-md-6"> 
                        <a class="btn btn-dark" routerLinkActive="active-link" (click)="onDelete()">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
