$footer-text-color: rgb(130, 81, 30);
$footer-text-color-hover: rgba(130, 81, 30, 0.6);
$text-color: rgb(172, 168, 164);
$blue-color : rgba(13, 30, 36, 0.9);
$white-color : #fff;

div.container {

    border: 4px solid $blue-color;
    padding: 10px 10px 10px;
    margin-top: 10px;
    background-color: white;
}

.enterpriseWeek-content .enterpriseWeek-detail {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative;
    background: #fff
}

.enterpriseWeek-content .enterpriseWeek-detail h5 a {
    color: #2f383d;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    padding-left: 0;
    margin-left: 0
}

.enterpriseWeek-content .enterpriseWeek-detail h5 a span {
    color: #9aa7af;
    display: block;
    font-size: 13px
}

.enterpriseWeek-content .description {
    font-size: 12.5px;
    line-height: 20px;
    padding: 10px 14px 16px 19px;
    background: #fff
}

.enterpriseWeek-content .enterpriseWeek-info {
    padding: 11px 19px 10px 20px
}

.enterpriseWeek-content .enterpriseWeek-info {
    color: #2f383d;
    font-size: 13px;
    padding-left: 16px
}

.enterpriseWeek-content name.a {
    padding: 5px 10px;
    margin-left: 16px
}

.enterpriseWeek-info.smart-form .btn {
    padding: 6px 12px;
    margin-left: 12px;
    margin-top: -10px
}

.enterpriseWeek-detail {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative
}

.enterpriseWeek-detail h5 a {
    color: #2f383d;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none
}

.enterpriseWeek-detail h5 a span {
    color: #9aa7af;
    display: block;
    font-size: 13px
}

.enterpriseWeek-content .enterpriseWeek-detail p.email-container p.phone-container span {
    color: #8a6d3b;
    font-family: Lato, sans-serif;
    font-size: 24px;
    line-height: 20px
}

.enterpriseWeek-detail {
    padding: 30px 30px 50px
}

.enterpriseWeek-detail  {
    border-right: 0px solid #fff !important
}

.enterpriseWeek-detail .name {
    margin-top: 0;
    margin-bottom: 0
}

.enterpriseWeek-detail .name a {
    margin-left: 0
}

.enterpriseWeek-detail .email-container .phone-container{
    font-size: 24px;
    margin: 0;
    font-weight: 300
}

.btn-primary {

    color: $text-color;
    background-color: $footer-text-color;
    border-color: $footer-text-color;
}

.btn-primary:hover {

    background-color: $footer-text-color-hover;
}

label {

    color: $blue-color;
    font-weight: bold;
}

div.condition {

    color: $footer-text-color;
    font-weight: bold;
}

.condition-null {

    margin-bottom: 10px;
}

div.container {

    border: 4px solid $blue-color;
    padding: 10px 10px 10px;
    margin-top: 10px;
}

.invalid-feedback div {

    color: $footer-text-color;
    font-weight: bold;
}