<div class="container" *ngIf="semesterSchedule$ | async as semesterSchedule">
    <div class="g-3 m-1" *ngFor="let enterpriseWeek of semesterSchedule.enterpriseWeeks">
        <div class="row enterpriseWeek-content enterpriseWeek-wrap clearfix">
            <div class="col-md-7">
                <div class="enterpriseWeek-detail">
                        <h5 class="name">
                            <a>
                                {{ enterpriseWeek }}
                            </a>
                        </h5>
                </div>
                <div class="enterpriseWeek-info smart-form">
                    <div class="col-md-6"> 
                        <a class="btn btn-dark" routerLinkActive="active-link" (click)="onDelete()">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
